.TopGroup
{
  z-index:99;
  position:relative;
}

.DefaultTab 
{
  color:black; 
  background-image: url(images/tab_bg.gif);
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
  cursor:default;
}

.DefaultTabHover 
{
  color:black; 
  background-image: url(images/hover_tab_bg.gif);
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
  cursor:default;
}

.SelectedTab 
{
  color:black; 
  background-image: url(images/selected_tab_bg.gif);
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
  cursor:default;
}

.ScrollItem 
{
  color:black; 
  background-image: url(../imagenes/asistente.png);
  border: 1px solid #919B9C; 
  border-left-color: #91A7B4; 
  border-top-color: #91A7B4; 
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
  height: 20px;
  cursor:default;
}

.ScrollItemHover 
{
  color:black; 
  background-image: url(../imagenes/btn_renovar_on.gif);
  border: 1px solid #919B9C; 
  border-left-color: #91A7B4; 
  border-top-color: #91A7B4; 
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
  height: 20px;
  cursor:default;
}

.MultiPage
{
  background-color:White;
  border: 1px solid #919B9C;
  width:487px;
  height:150px;
  position:relative;
  padding:10px;
  top:-3px;
  left:1px;
  z-index:98;
}

.PageContent
{
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
}