<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  	<configSections>
		  <section name="conexionesBackend" type="Framework.Datos.ConexionesConfigurationSectionHandler, Framework.Datos" />
	  </configSections>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1"/>
      <httpRuntime targetFramework="4.6.1"/>
  		<pages>
			<namespaces>
				<clear />
				<add namespace="System" />
				<add namespace="System.Collections" />
				<add namespace="System.Collections.Specialized" />
				<add namespace="System.Configuration" />
				<add namespace="System.Text" />
				<add namespace="System.Text.RegularExpressions" />
				<add namespace="System.Web" />
				<add namespace="System.Web.Caching" />
				<add namespace="System.Web.SessionState" />
				<add namespace="System.Web.Security" />
				<add namespace="System.Web.Profile" />
				<add namespace="System.Web.UI" />
				<add namespace="System.Web.UI.WebControls" />
				<add namespace="System.Web.UI.WebControls.WebParts" />
				<add namespace="System.Web.UI.HtmlControls" />
			</namespaces>
		</pages>  
    
  <authentication mode="Windows" />
      </system.web>
  
  <conexionesBackend>
    <conexion tipo="Framework.Datos.SqlServer.ConexionBackendSqlServer, Framework.Datos" nombre="Produccion" servidor="sianvt03.cloudapp.net,1435" baseDatos="SAE50" userId="sa" pass="d3s4rr0ll0"/>
    <conexion tipo="Framework.Datos.SqlServer.ConexionBackendSqlServer, Framework.Datos" nombre="ConexionSeguridad" servidor="sianvt03.cloudapp.net,1435" baseDatos="Dalton_Seguridad" userId="Dalton_Desarrollo" pass="desarrollo1%"/>
    <conexion tipo="Framework.Datos.SqlServer.ConexionBackendSqlServer, Framework.Datos" nombre="SEGURIDAD" servidor="sianvt03.cloudapp.net,1435" baseDatos="Dalton_Seguridad" userId="Dalton_Desarrollo" pass="desarrollo1%"/>
    <conexion tipo="Framework.Datos.SqlServer.ConexionBackendSqlServer, Framework.Datos" nombre="ConexionDBS" servidor="sianvt03.cloudapp.net,1435" baseDatos="Dalton_Pruebas" userId="Dalton_Desarrollo" pass="desarrollo1%"/>
    <conexion tipo="Framework.Datos.SqlServer.ConexionBackendSqlServer, Framework.Datos" nombre=" ConexionGENDES" servidor="sianvt03.cloudapp.net,1435" baseDatos="DB_GEN_DES" userId="Dalton_Desarrollo" pass="desarrollo1%"/>
  
   <!--<conexion tipo="Framework.Datos.SqlServer.ConexionBackendSqlServer, Framework.Datos" nombre="Produccion" servidor="sianvt03.cloudapp.net,1435" baseDatos="SAE50" userId="sa" pass="d3s4rr0ll0"/>
    <conexion tipo="Framework.Datos.SqlServer.ConexionBackendSqlServer, Framework.Datos" nombre="ConexionSeguridad" servidor="sianvt03.cloudapp.net,1435" baseDatos="Dalton_Seguridad" userId="Dalton_Desarrollo" pass="desarrollo1%"/>
    <conexion tipo="Framework.Datos.SqlServer.ConexionBackendSqlServer, Framework.Datos" nombre="SEGURIDAD" servidor="sianvt03.cloudapp.net,1435" baseDatos="Dalton_Seguridad" userId="Dalton_Desarrollo" pass="desarrollo1%"/>
    <conexion tipo="Framework.Datos.SqlServer.ConexionBackendSqlServer, Framework.Datos" nombre="ConexionDBS" servidor="sianvt03.cloudapp.net,1435" baseDatos="SisArrendaCredito" userId="Dalton_Desarrollo" pass="desarrollo1%"/>
    <conexion tipo="Framework.Datos.SqlServer.ConexionBackendSqlServer, Framework.Datos" nombre="ConexionFred" servidor="sianvt03.cloudapp.net,1435" baseDatos="SIAN_GASTOS" userId="sa" pass="chur0411RUHC"/>
    <conexion tipo="Framework.Datos.SqlServer.ConexionBackendSqlServer, Framework.Datos" nombre=" ConexionGENDES" servidor="sianvt03.cloudapp.net,1435" baseDatos="DB_GEN_DES" userId="Dalton_Desarrollo" pass="desarrollo1%"/>-->
  </conexionesBackend>
    
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs"
                type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
                type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
        </compilers>
    </system.codedom>

</configuration>
